# Virtual environments
naru.venv/
venv/
.env

.coverage

# Configuration files and environment variables
*.env

# Compiled Python files
__pycache__/
*.py[cod]
*$py.class

# VS Code files
.vscode/

# Log and temporary files
*.log
*.sqlite3
*.db

# Other files to ignore
.DS_Store
