# Telegram configuration
TELEGRAM_TOKEN=
TELEGRAM_API_URL=https://api.telegram.org

# LLM configuration
LLM_URL=http://localhost:8081/api/v1/chat/ask

# server configuration
HOST=127.0.0.1
PORT=8000
RELOAD=true
LOG_LEVEL=info

# anyway configuration
GATEWAY_API_URL=http://localhost:8003/api/v1/send
GATEWAY_ENABLED=true
